<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>view Categories</h2>
                <br><br>
                {% for category in categories %}
                <li>{{ category.name }} <a href="/products_user/{{category.name}}">View</a></li> <br>
                {% endfor %}
            </div>
        </div>

        <a href="/view_cart">View Cart</a>

    </div>
    
</body>
</html>